:root {
  --josefin-sans: "Josefin Sans", sans-serif;
  --Bright-Blue: hsl(220, 98%, 61%);
  --Check-Background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  --lightTheme-Very-Light-Gray: hsl(0, 0%, 98%);
  --lightTheme-Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --lightTheme-Light-Grayish-Blue: hsl(233, 11%, 84%);
  --lightTheme-Dark-Grayish-Blue: hsl(236, 9%, 61%);
  --lightTheme-Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
  --darkTheme-Very-Dark-Blue: hsl(235, 21%, 11%);
  --darkTheme-Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --darkTheme-Light-Grayish-Blue: hsl(234, 39%, 85%);
  --darkTheme-Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
  --darkTheme-Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --darkTheme-Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
  --darkTheme-Very-Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
}

body {
  font-family: var(--josefin-sans);
}

h1 {
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

:-webkit-any(article, aside, nav, section) h1 {
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.dark-mode .app {
  background-color: #161722;
  transition: background-color 0.8s ease;
}

.light-mode .app {
  background-color: white;
  transition: background-color 0.8s ease;
}

.background {
  align-items: center;
  display: flex;
  justify-content: center;
}

.main {
  width: 100%;
  max-width: 45rem;
  margin: 90px 25px;
  margin-top: -300px;
  position: relative;
  z-index: 2;
  padding: 0 20px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.title h1 {
  font-size: 2.7rem;
  letter-spacing: 15px;
  color: var(--darkTheme-Light-Grayish-Blue-hover);
}

/* Light mode background */
.light-mode .background {
  background-image: url("./assets/bg-desktop-light-BIdKokTn.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 410px;
}

/* Dark mode background */
.dark-mode .background {
  background-image: url("./assets/bg-desktop-dark-DzAvO98h\ \(1\).jpg"); /* Add your dark background image */
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 410px;
}

/* Toggle button styling */
.toggle-button {
  height: 40px;
  cursor: pointer;
}

.container {
  font-family: var(--josefin-sans) !important;
  padding: 0 10px;
  height: 70px;
  border-radius: 5px;
  font-size: 18px;
  transition: all 0.4s;
}

.shadow {
  -webkit-box-shadow: 0px -1px 138px 1px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 0px -1px 138px 1px rgba(0, 0, 0, 0.76);
}

.dark-mode .container {
  background-color: var(--darkTheme-Very-Dark-Desaturated-Blue);
  color: var(--darkTheme-Light-Grayish-Blue);
}

.light-mode .container {
  background-color: var(--lightTheme-Very-Light-Gray) !important;
  color: var(--darkTheme-Very-Dark-Desaturated-Blue);
}

.todo-input {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.todo-input input {
  background: transparent;
  font-size: 1.3rem;
  /* height: 100%; */
  border: none;
  padding: 10 0px;
  flex-grow: 1;
  outline: none;
}

.todo-input form {
  display: flex;
  flex: 1;
}

.checkmark {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkmark button:hover {
  background-image: var(--Check-Background);
}

.dark-mode .checkmark button {
  border: 1px solid var(--lightTheme-Light-Grayish-Blue) !important;
}

.light-mode .checkmark button {
  border: 1px solid var(--darkTheme-Very-Dark-Grayish-Blue) !important;
}

.checkmark button {
  outline: none;
  background: none;
  border: 1px solid var(--darkTheme-Very-Dark-Grayish-Blue);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkmark button:hover {
  background-color: var(--Check-Background);
}

.todo-info {
  display: flex;
  justify-content: space-between;
  gap: 3px;
  align-items: center;
  padding: 20px 25px !important;
  height: auto;
  color: var(--darkTheme-Dark-Grayish-Blue) !important;
  font-size: 1.1rem;
  transition: all 0.3s;
  border-radius: 0 0 5px 5px !important;
}

.active-filter{
  color: var(--Bright-Blue) !important;
}

.light-mode .todo-info li:hover {
  color: var(--darkTheme-Very-Dark-Blue);
}

.dark-mode .todo-info li:hover {
  color: var(--lightTheme-Very-Light-Grayish-Blue);
}

.new-todo {
  margin-bottom: 0 !important;
  border-radius: 5px 5px 0px 0px !important;
  height: auto !important;
  /* padding-top: 10px; */
  padding: 25px 0px;
}

.light-mode .new-todo {
  border-bottom: 1px solid var(--lightTheme-Light-Grayish-Blue) !important;
}

.dark-mode .new-todo {
  border-bottom: 1px solid var(--darkTheme-Very-Dark-Grayish-Blue) !important;
}

.delete-button {
  width: 40px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.checkmark .checked {
  background-image: var(--Check-Background) !important;
  border: none;
}

.checked {
  text-decoration: line-through;
  color: var(--darkTheme-Very-Very-Dark-Grayish-Blue);
}

.search-input {
  display: flex;
  margin: 10px 0;
  font-size: 16px;
  color: var(--lightTheme-Very-Light-Gray);

  input {
    padding: 10px;
    outline: none;
    background-color: var(--darkTheme-Very-Dark-Blue);
  }
}

@media (max-width: 375px) {
  .todo-info {
    display: grid;
    background: none;
    padding: 0;
    /* row-gap: 20px; */
  }
}
